<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <header>
      <h1>Shahram / N01601013</h1> 
    </header>

    <main>
    {{{body}}}
    </main>
    <footer>
      <p>Email: Sean.Humber@gmail.com</p> 
    </footer>
  </body>
</html>

