<h2>JSON Data Loaded</h2>
<ul>
    {{#each jsonData}}
        <li><strong>Title:</strong> {{this.Title}}, <strong>Year:</strong> {{this.Year}}, <strong>Genre:</strong> {{this.Genre}}</li>
    {{/each}}
</ul>


